.question-page{
    .question-box {
        border: 1px solid black;
        background-color: #C0BBBB;
        margin: 15px 1px;
        display: inline-flex;
        width: 100%;

        .question-header {
            font-weight: bold;
        }

        .main {
            padding: 10px 5px 5px 5px;
            width: 100%;

            .explanation {
                position: relative;
                display: inline-flex;
                width: 100%;
                margin-top: 10px;
                padding: 10px 10px;
                background-color: #C1C2C4;
                border: 1px solid black;
            }
        }


        .question-container {
            padding-bottom: 10px;
        }

        .min-max-button {
            position: absolute;
            right: 5px;
            top: 1px;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }

        .side {
            position: relative;
            left: 0px;
            float: left;
            width: 30px;
            text-align: center;
            color: white;
            border: 1px solid black;
            margin: -1px 0px -1px -1px;
        }

        .answer {
            background-color: #25925C;
        }

        .correct-answer {
            background-color: #25925C;
        }

        .wrong-answer {
            background-color: #8B0000;
        }

        .no-answer {
            background-color: #C1C2C4;
        }

        .input-area {
            margin-top: 5px;
        }
    }

}
