<div class="question-page">
  <form class="question-form" (ngSubmit)="submit(form)" name="mainForm" [formGroup]="form">
    <div *ngFor="let item of dataFields.fields; let question = index">
      <div class="{{ item.className }}">

        <div class="question-box">
          <div *ngIf="!resultsPage" class="side" [ngClass]="((form.controls[item.key].valid) && (form.controls[item.key].dirty || form.controls[item.key].touched)) ? 'answer' : 'no-answer'">{{ question + 1 }}</div>
          <div *ngIf="resultsPage" class="side" [ngClass]="item.correct ? 'correct-answer' : 'wrong-answer'">{{ question + 1 }}</div>
          <div class="min-max-button" *ngIf="resultsPage">
            <a (click)="changeState(item)">
              <i *ngIf="item.minimize" class="material-icons md-48">arrow_drop_up</i>
              <i *ngIf="!item.minimize" class="material-icons md-48">arrow_drop_down</i>
            </a>
          </div>                
          <div class="main" *ngIf="item.minimize">
            <div class="question-container" [innerHtml]='item.question.text | translate'></div>

            <div *ngFor="let element of elements" [ngClass]="elements.length > 1 ? 'col-md-6' : ''">
              <div *ngIf="element === 'result'" translate="quiz.results.correct"></div>
              <div *ngIf="element === 'answer' && resultsPage" translate="quiz.results.answer"></div>
              <div class="input-area">
                <div *ngIf="item.type === 'text'">
                  <input
                    type="text"
                    name="{{ selectElement(element, item) }}"
                    id="{{ selectElement(element, item) }}"
                    formControlName="{{ selectElement(element, item) }}"
                    style="width:100%"
                    placeholder="{{ item.options.placeholder }}"
                  >
                </div>

                <div *ngIf="item.type === 'number'">
                  <input
                    type="number"
                    name="{{ selectElement(element, item) }}"
                    id="{{ selectElement(element, item) }}"
                    formControlName="{{ selectElement(element, item) }}"
                    style="width:100%"
                    placeholder="{{ item.options.placeholder }}"
                  >
                </div>

                <div *ngIf="item.type === 'email'">
                  <input
                    type="email"
                    name="{{ selectElement(element, item) }}"
                    id="{{ selectElement(element, item) }}"
                    formControlName="{{ selectElement(element, item) }}"
                    style="width:100%"
                    placeholder="{{ item.options.placeholder }}"
                  >
                </div>

                <div *ngIf="item.type === 'password'">
                  <input
                    type="password"
                    name="{{ selectElement(element, item) }}"
                    id="{{ selectElement(element, item) }}"
                    formControlName="{{ selectElement(element, item) }}"
                    style="width:100%"
                    placeholder="{{ item.options.placeholder }}"
                  >
                </div>

                <div *ngIf="item.type === 'radio'">
                  <div *ngFor="let answer of item.answers">
                    <input
                      type="radio"
                      name="{{ selectElement(element, item) }}"
                      id="{{ selectElement(element, item) }}"
                      value="{{ answer.id }}"
                      formControlName="{{ selectElement(element, item) }}"
                    >
                    {{ answer.text }}
                  </div>
                </div>
              </div>

              <div *ngIf="item.type === 'checkbox'">
                <fieldset [disabled]="resultsPage">
                  <div *ngFor="let answer of item.answers; let i = index" [formGroupName]="selectElement(element, item)">
                    <input
                      type="checkbox"
                      name="{{ answer.id }}"
                      id="{{ answer.id }}"
                      value="{{ answer.id }}"
                      formControlName="{{ answer.id }}"
                    >
                    {{ answer.text }}
                  </div>
                </fieldset>
              </div>

              <p *ngIf="item.type === 'textarea'">
                <textarea
                  rows="{{ item.options.rows }}"
                  cols="{{ item.options.cols }}"
                  name="{{ selectElement(element, item) }}"
                  id="{{ selectElement(element, item) }}"
                  style="width:100%"
                  placeholder="{{ item.options.placeholder }}"
                  [readonly]="resultsPage"
                  formControlName="{{ selectElement(element, item) }}"
                >
                </textarea>
              </p>
            </div>

            <div class="explanation" *ngIf="resultsPage && item.results.explanation && item.minimize" [innerHtml]='item.results.explanation | translate'></div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!resultsPage" class="footer col-md-12 text-center">
      <input type="submit" class="btn btn-default">
    </div>
  </form>
</div>