<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title" translate="{{ title }}"></h4>
        </div>
        <div>
            <questions [dataFields]="formData" (update)="onSubmit($event)"></questions>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm($event)" *ngIf="okButton" translate="modal.okButton"></button>
            <button type="button" class="btn btn-default" (click)="close()" *ngIf="cancelButton" translate="modal.cancelButton"></button>
        </div>
    </div>
</div>